.banner {
    display: flex;
    background-color: aqua;
    border:solid blue 5px;
    margin:20px;
    height: 100px;
    width: auto;
    justify-content: center;
}

.banner div {
    /* background-color: */
    border:dashed 5px crimson;
    margin: 5px;
    flex:1;
}

.banner .middle_banner {
    display: flex;
    
    
    
}

.middle_banner div {
    border: solid violet 2px;
    
}

.portal {
    display:flex;
}
.main_panel {
    background-color: gold;
    border: ridge goldenrod 5px;
    height:200px;
    width:auto;
    margin: 0 5px 0 20px;
    flex:1;
}

.side_panels {
    display: flex;
    margin-right: 20px;

    flex:1;
    align-items: stretch ;
    flex-direction: column;
    justify-content: space-evenly;
    gap:5px;
}

.side_panels div {
    background-color: chocolate;
    border: ridge brown 5px;
    flex:1;
    

}

.bottom_banner {
    display: flex;
    background-color: darkred;
    border:dotted greenyellow 5px;
    margin: 20px;
    color: white;
    justify-content: space-between;
    height: 50px;
}

#block
{
    display: block;
    width:30%;
    border: solid white 1px;
}

.bottom_banner .flex {
    display: flex;
    /* padding: 5px; */
    width:auto
    
}

.flex div {
    border: solid white 1px;
    gap: 5px;

    
    

}